<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">{{ user.user_name }}</h1>
        <p><strong>Name:</strong> {{ user.name }}</p>
        <p><strong>Age:</strong> {{ user.user_age }}</p>
        <p><strong>Profile Picture:</strong></p>
        <img src="{{ url_for('user_picture', name=user.name) }}" alt="Profile Picture" class="img-thumbnail">
    </div>
</body>
</html>
